<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api  doc</title>
</head>
<style>
    .module-signature{
        font-size: xx-large;
        font-family: FangSong;
        font-weight: bold;
    }

    .li-style{
        font-size: x-large;
        font-family: FangSong;
        font-weight: bold;
    }

    .li-style1{
        font-size: medium;
        font-weight: bold;
    }

    .img-style{
        width: 650px;
        height: 400px;
    }
</style>



<body>
    <div class ='header'>
        <h1 title="api_doc" class="title">Api  文档</h1>
        <hr>
        <div class="module-signature">
            GET
            <ul>
                <span class="li-style">使用方法：使用带有Get的Json请求即可<br /></span>
                <span class="li-style">测试方法：使用Postman发送Json请求，请使用👇<br /></span>
                <span class="li-style1">http://127.0.0.1:5000/api/apiGETParameter?text='你好'<br /></span>
                <span class="li-style">如下图所示👇，为GET后的结果<br /></span>
                <img class="img-style" src="/static/GET.jpg" alt="">
            </ul>
        </div>

        <div class="module-signature">
            POST
            <ul>
                <span class="li-style">使用方法：使用带有POST的Json请求即可<br /></span>
                <span class="li-style">测试方法：使用Postman发送Json请求，请使用👇<br /></span>
                <span class="li-style1">http://127.0.0.1:5000/api/apiPOSTParameter<br /></span>
                <span class="li-style">如下图所示👇，为POST后的结果<br /></span>
                <img class="img-style" src="/static/POST.jpg" alt="">
            </ul>
        </div>
    </div>
</body>
</html>